# NEON POSTGRESQL CONNECTION STRING
DATABASE_URL=postgresql://user:password@ep-xxxx.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# CLOUDINARY STORAGE
CLOUDINARY_CLOUD_NAME=kk5ip5eb
CLOUDINARY_API_KEY=587154839764425
CLOUDINARY_API_SECRET=pPqZ18ud9drcW8jhywAh5aGyMug

# JWT SECRET
JWT_SECRET=your_jwt_secret_key_here
